__pycache__/

# generated test results
TESTS-*.xml

# Build artifacts
*.egg-info
dist/
build/
.mypy_cache/

# Vim tags
tags

# Tox virtual envs
.tox/

# Vim swap files
*.sw?

doc/
